$color_1: #fff;
$color_2: #D51820;;
$color_3: #000;
$color_4: #B1FFC2;
$color_5: #29A643;
$color_6: #CCB494;
$color_7: #3C763D;
$color_8: #31B63B;
$color_9: #fff;
$color_10: #444;
$color_11: #BDBDBD;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Bebas Neue', cursive;
$background-color_1: #000;
$background-color_2: #29A643;
$background-color_3: #0B0819;
$background-color_4: #BDBDBD;
$background-color_5: rgba(0, 0, 0, 0.5);